*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
}
.contenitore{
  width: 80%;
  margin: auto;
  font-family: 'Montserrat', sans-serif;
}
.logo{
  max-width: 60%;
  max-height: 60%;
  margin-bottom: 25px;
  box-shadow: 10px 0 10px -14px rgba(0,0,0,0.6);
  /* box-shadow:  */#dedede
  /* display: block; */
  }
header{
  height: 150px;
  width:100%;
  background-color: pink;
}
.barra ul, li, a{
  text-decoration: none;
  list-style: none;
  display: inline-block;
  color: #929292;
  text-transform: uppercase;
  margin-right: 10px;
}
  main{
  background-color: blue;
  height: auto;
}
.taglio-alto{
  height: 400px;
  width:100%;
  margin: 20px 0;
  background-image: url(../img/banner.jpg);
  background-position: center;
}
h3, p {
  
}
/* .banner{
  height: 100%;
  width:100%;
  object-fit: cover;
} */
 .taglio-medio:after{
   content: "";
   display: block;
   clear: both;
   margin-bottom: 20px;
}
.riga{
  height: 80px;
  width:100%;
  background-color: lightblue;
  margin-bottom: 20px;
}
  .taglio-medio .sinistra,
  .taglio-medio .destra{
  height: 350px;
  width:25%;
  background-color: lightblue;
  float: left;
  /* display: inline-block; */
}
.centro{
  height: 350px;
  width:46%;
  background-color: lightblue;
  float: left;
  margin: 0 2%;
}
footer{
  height: 50px;
  width:100%;
  background-color: purple;
  margin-top: 20px;
}
